body {
  margin: 33px;
}

p{
  line-height: 18px;
  margin: 33px;
}

table {
  border-collapse: separate;
}

thead {
  vertical-align: middle;
  unicode-bidi: isolate;
  border-color: inherit;
}

tbody {
  text-align: left;
}

th {
    padding: 10px
}

.flash-message {
  border-radius: 5px;
  padding: 16px 24px;
  margin: 16px 0px;
}
 
.flash-message.notice {
  color: #b8d200;
}
 
.flash-message.alert {
  color: #930403;
}